<h1>Page for new quizard</h1>

<%= form_for @quiz do |f| %>
  <div class="col-sm-4 col-sm-offset-4">
      <%= f.text_field :title, :placeholder => "Title...", class: "form-control" %>
      <br>
      <%= f.text_field :content, :placeholder => "Content...", class: "form-control" %>
      <br>
			<%= f.submit "Save your quizard!!!" %>
  </div>
<% end %>