<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<h1 class="text-center"><%= @quiz.title %></h1>
			<br>
			<div id = 'quiz-body'>
				<%= simple_format(@quiz.content) %>
			</div>
      <div class="save-read">
        <%= link_to "Quiz", user_path(current_user), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>