<h1>Welcome to Users Index</h1>

<div>
  There are currently <%= @users.length %> users signed up.
</div>

<div>
  This will be our homepage. Sign up, Login, etc go here.
</div>

<!-- below is code for the quiz show page, but that page isnt routed yet. -->

<div class="row">
	<hr>
	<div class="col-xs-6">
		<div class="text-area">
		</div>	
	</div>
	<div class="col-xs-6">
		<form class="my-form" id="target-form">
			<div class="block-stack">
			</div>
			<button>Submit</button>
		</form>		
	</div>
</div>