
<div class="full-width-container">
  <div class="main text-center">
    <a href="#" class="title">Fill in The</a>
    <p>__________</p>
  </div>

  <div class="text-center col-xs-12 col-sm-6 col-sm-offset-3 about-content">
    <h2>About Us</h2>
    <div class="about">
    <p>Cream organic qui extra latte, con panna espresso whipped half and half americano. Trifecta, sweet, americano as, lungo blue mountain, redeye extraction beans siphon chicory. Cinnamon spoon americano, caffeine et carajillo, half and half con panna black as viennese cultivar. Iced foam, rich sweet pumpkin spice seasonal blue mountain cream french press shop dark siphon.</p>
    </div>
    <div class="quiz-button">
      <%= link_to "Create a Quiz Now!", new_quiz_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<!-- <h1>Welcome to Users Index</h1>

<div>
  There are currently <%= @users.length %> users signed up.
</div>

<div>
  This will be our homepage. Sign up, Login, etc go here.
</div> -->