<h1>Welcome to Users Index</h1>

<div>
  There are currently <%= @users.length %> users signed up.
</div>

<div>
  This will be our homepage. Sign up, Login, etc go here.
</div>

<!-- below is code for the quiz show page, but that page isnt routed yet. -->

<div class="row">
	<hr>
	<div class="col-xs-6">
		<div class="text-area">
    	<p>This is where we display the chunk of text that has numbers replacing the words that have been removed.</p>
		</div>	
	</div>
	<div class="col-xs-6">
		<form class="my-form" id="target-form">
			<div class="block-stack">
			  <div class="blanks-and-hints">
		      <span class="blank-number">ex.</span>
		      <input type="text" name="answer" placeholder="Answer Here" id="example" data-answer="theAnswer">
		      <button>hint</button>
		      <span class="hint-show">- - - -</span>
			  </div>
			</div>
			<button>Submit</button>
		</form>		
	</div>
</div>