<div class="container">
	<div class="row">
      <!-- left column -->
      <div class="navbar-left">
        <div class="text-center">
          <img src="//placehold.it/200" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input type="file" class="form-control">
          <h2>Welcome, <%= @user.first_name %></h2>
          <h5>Joined: <%= @user.created_at %></h5>
        </div>
      </div>
		<div class="col-sm-4 col-sm-offset-1">
		<h1 class="text-center">Created</h1>
			<hr>
			<% @user.quizzes.each do |quiz| %>
				<li type="none"><h3 class="quiz-title"><%= link_to quiz.title, quiz_path(quiz.id) %></h3></li>
				<hr>
			<% end %>
		</div>
		<div class='col-sm-4 taken'>
		<h1 class="text-center">Taken</h1>
		<hr>
		<% @user.quizzes.each do |quiz| %>
			<li type="none"><h3 class="quiz-title"><%= link_to quiz.title, quiz_path(quiz.id) %></h3></li>
			<hr>
		<% end %>
		<div class="col-sm-1">
			<h4>progress</h4>
		</div>
		</div>
	</div>
</div>