<div id='cssmenu'>
<ul>
	<li><a href='/'><span>Fill in The</span></a></li>
   	<li><a href='/users/new'><span>Sign Up</span></a></li>
   	<li><a href='/sessions/new'><span>Log In</span></a></li>
</ul>
</div>

