/*font-family: 'Crimson Text', serif;
font-family: 'Noto Serif', serif;*/
// font-family: 'Cabin', sans-serif;

* {
  font-family: 'Noto Serif', serif;
}

h2 {
  font-weight: 700 !important;
  font-family: 'Crimson Text', serif;
}

h5, h5 a {
  font-family: 'Cabin', sans-serif !important;
}

h4 a {
  font-family: 'Cabin', sans-serif !important;
  // padding-bottom: 20px !important;
}

h5 a {
  color: black;
}


li p {
  font-family: 'Cabin', sans-serif !important;
}

form {
  margin-top: 100px;
}


// NAVBAR STYLING

a.navbar-brand p {
  text-decoration: none;
  color: black;
  font-weight: 700;
  float: left;
}

a.navbar-brand p:hover {
  color:black;
}

a.navbar-brand p:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: '';
  opacity: 0;
  -webkit-transform: translateY(8px);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

a.navbar-brand:hover p:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}

div.navbar-collapse li a {
  font-weight: 700;
  text-decoration: none;
  color: black;
  position: relative;
}

div.navbar-collapse li:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: '';
  opacity: 0;
  -webkit-transform: translateY(8px);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

div.navbar-collapse li:hover:before {
   -webkit-transform: translateY(0);
  opacity: 1;
}




// LEFT NAVBAR
.navigation-left {
  position: fixed;
}


// USER INDEX PAGE 

// .title {
//   font-size:100px;
// }

a.title {
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 100px;
  text-decoration: none;
  color: black;
}

a.title:hover {
  text-decoration: none;
  color: black;
}

a.title:before {
  position: absolute;
  top: 40%;
  left: center;
  width: 35%;
  height: 6px;
  background-color: #000;
  content: '';
  -webkit-transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}

a.title:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}

.quiz-title {
  font-weight: 700;
}

.main .nav{
  font-family: 'Crimson Text', serif;
  margin-top: 100px;
}

.row {
  margin-top: 100px;
}

#quizzes {
  height: 800px;
  top: 50%;
}

#index-quizzes {
  // top: 50%;
  padding-top: 150px;
}

.quiz-nav {
  margin: 0;
  font-size: 16px; 
  font-family: 'Cabin', sans-serif !important;
}

.quiz-nav span, em {
  font-size: 16px; 
  font-family: 'Cabin', sans-serif !important;
}

.quiz-nav a {
   font-size: 16px; 
  font-family: 'Cabin', sans-serif !important;
}


// TEXT AREA + INPUT AREAS 

.form-control {
  border-radius: 0px !important;
}

input, textarea {
  color:black;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Cabin', sans-serif !important;
  border-top: 0px solid transparent !important;
  border-left: 0px solid transparent !important;
  border-right: 0px solid transparent !important;
  border-bottom: 3px solid black !important;
  box-shadow: none !important;
} 

input::-webkit-input-placeholder {
  color: black !important;
}

input::-moz-placeholder {
  color: black !important;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: black !important;
}
input:-ms-input-placeholder { 
  color: black !important;
}

input[placeholder] {
   font-weight: bold; 
   color:black;
}

textarea::-webkit-input-placeholder {
  color: black !important;
}

textarea::-moz-placeholder {
  color: black !important;
}
textarea:-moz-placeholder {   /* Older versions of Firefox */
  color: black !important;
}
textarea:-ms-input-placeholder { 
  color: black !important;
}

textarea[placeholder] {
   font-weight: bold; 
   color:black;
}


// BUTTON STYLING 

.btn {
  color:black !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  font-family: 'Noto Serif', serif !important;
  left:50% !important;
  padding:5px 10px !important;
  border-radius: 22px !important;
  border: 3px solid black !important;
  color:black !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  background-color: white !important;
  margin-top: 40px;
}

.btn:hover {
  border-radius: 22px;
  border: 3px solid black !important;
  color:black;
  font-weight: 700;
  font-size: 20px;
  padding:5px 10px;
  background-color: black !important;
  color:white !important;
}

.btn:focus,.btn:active {
   outline: none !important;
}

#quiz-body p {
  font-size: 16px; 
  font-family: 'Cabin', sans-serif !important;
  line-height: 2em;
}

#quiz-button {
  margin-top: 100px;
}

.save-read {
  left:50%;
  margin-top: 40px;
  margin-bottom: 200px;
  clear: both;
}

h4.quiz-title > a{
  text-transform: none;
  color:black;
}

h4.quiz-title:hover > a{
  color:black !important;
}

.all-quizzes {
  height: 150px;
}

.all-quizzes h2 a {
  font-weight: 700 !important;
  font-family: 'Crimson Text', serif;
  color: black;
}

.all-quizzes p {
  font-family: 'Cabin', sans-serif !important;
}


// EDIT AND DELETE BUTTONS

.edit-delete > a {
  color: black;
  text-decoration: none;
}

.edit-delete > a:hover {
  color: black;
  text-decoration: none;
}

