// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.green-glow {
  background-color: green;
  color: white !important;
}
.red-glow {
  background-color: red;
  color: white !important;
}